.p {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}
.p + .p,
.p + .ul,
.ul + .p,
.ul + .ul {
  margin-top: 6px;
}
.ul {
  margin: 0;
  padding-left: 18px;
  word-break: break-word;
}
.ul li {
  margin: 1px 0;
}
